card-title {
    padding: 15px;
align-content: center;
}
card-img-top.img{
    width: 10px;
    height: 20px;
}
list-group{
    background-color:rgb(251, 146, 146);
}

li.list-group-item{
    background-color:rgb(250, 230, 230);
}